@using Dealership.Models;

<ol>
@foreach(Car car in Model)
{
  <li>@car.Make @car.Model</li>
}
</ol>

<form action="/" method="POST">
  <label for="min">Min Price:</label>
  <input type="number" name="min" id="min" required>

  <label for="max">Max Price:</label>
  <input type="number" name="max" id="max" required>

  <button type="submit">Search!</button>
</form>

<form action="/new" method="POST">
  <label for="make">Make</label>
  <input type="text" name="make" id="make" required>

  <label for="model">Model</label>
  <input type="text" name="model" id="model" required>

  <label for="year">Year</label>
  <input type="number" name="year" id="year" required>

  <label for="price">Price</label>
  <input type="number" name="price" id="price" required>

  <button type="submit">Create Entry</button>
</form>