@using Dealership.Models;

<ol>
@foreach(Car car in Model)
{
  <li>@car.Make @car.Model</li>
}
</ol>

<form action="/" method="POST">
  <label for="min">Min Price:</label>
  <input type="number" name="min" id="min" required>

  <label for="max">Max Price:</label>
  <input type="number" name="max" id="max" required>

  <button type="submit">Search!</button>
</form>